name: GolangCI-Lint
on:
  pull_request:
  push:
    paths:
      - "**.go"
    branches:
      - main
      - seiv2
      - evm
      - release/**
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: "1.21"
      - uses: actions/checkout@v3
      - name: Run golangci-lint
        run: |
          golangci-lint run ./... --out-format tab > golangci-lint-report.txt
        continue-on-error: true
      - name: Save golangci-lint report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: golangci-lint-report
          path: ./golangci-lint-report.txt
