name: golangci-lint

on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
      - seiv2
  pull_request:

permissions:
  contents: read
  pull-requests: read  # Enables inline annotations and only-new-issues

jobs:
  golangci:
    name: Lint Code
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
          cache: true

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.60.1
          args: --timeout=10m --out-format=colored-line-number

      - name: Show Lint Summary (Optional)
        if: always()
        run: echo "Linting complete. Review results above."
