name: UCI

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  stale:
    name: Stale
    permissions:
      issues: write
      pull-requests: write
    uses: sei-protocol/uci/.github/workflows/stale-check.yml@v0.0.3
    with:
      days-before-pr-stale: 28
      days-before-pr-close: 7
      days-before-issue-stale: 30
      days-before-issue-close: 7
